* {
	margin: 0;
	padding: 0;
}

/* ---- Index page ----- */

#onion-image img {
	width: 100%;

}

#favourites {
	color: #a69c9b;
	font-size: 18px;
	text-align: center;
	margin-top: 50px;
}

.row img {
	width: 120%;
	padding: 20px;

}

.col-md-3 {
	text-align: center;
}

.col-md-3 figure {
	margin-top: 40px;
}

/* --- Footer ---- */

#contact-details {
	padding-top: 95px;
}

#contact-details p {
	font-family: "Arimo", sans-serif;
	color: white;
	line-height: 1.2em;
	padding-left: 25%;
}

#contact-form {
	width: 50%;
	float: right;
	position: relative;
	margin-top: -50px;

}

#contact-form label {
	font-size: 1em;
}

.message-space {
	margin-top: -79px;
	color: white;

}

.message-space h4 {
	font-family: "Arimo", sans-serif;
	margin-left: 145px;
	font-size: 1em;

}

.contact-container {
	margin-bottom: 100px;
}

footer {
	margin-top: 500px;
	background-color: #f94a30;
	height: 500px;
}

.quick-links {
	margin-left: 1200px;
	position: relative;
	margin-top: -25px;
}

.quick-links li {
	padding-left: 10px;
	list-style: none;
	display: inline-block;
}

.quick-links li a {
	color: white;
}

.social-media-icons img {
	width: 10%;

}

.social-media-icons {
	display: inline-block;
	margin-left: 700px;
	margin-top: 50px;

}

.col-md-2 img {
	width: 70%;
}

.col-md-2 p {
	color: white;
	font-size: 12px;
	/*line-height: 8px;*/
	padding-left: 10px;
}

/*#copyright {
	margin-bottom: 150px;
}*/

#everydaychef {
	width: 50%;
}


 /*------ Sign Up/Log In page ------- */



/*.form-horizontal {
	margin-top: 2.5%;
	margin-left: 500px;
}*/
/*
.form-horizontal h3 {
	margin-left: 270px;
	margin-bottom: 20px;

}*/

/*#register-form {
	text-align: center;
}
*/
/*----- Categories ----- 

.categories img {
	width: 20%;
	margin-top: 4px;
}

.categories {
	text-align: center;

}

h2 {
	text-align: center;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

#recipes {
	margin-top: 2.5%;
}

/* ---- Recipes ----- */


/* ----- Salads ------ */
/*
#rice-salad img {
	width: 50%;
}*/

/*.recipe img {
	float: left;
}

.recipe p {
	float: right;
}*/

.recipes-list {
	margin-left: 100px;
}

.recipes-list li {
	list-style: none;
}

#single-recipe {
	width: 50%;
	text-align: center;
}

/* ----- Desserts ----- */
/*
#sticky-date img {
	width: 50%;
}*/
